<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>TEACHER DATA</title>
  </head>
  <body>
    <h1>TEACHER DATA</h1>
    
    <table>
      <tr>
        <td><a href="/">Home</a></td>
        <td><a href="/teacher">Teachers</a></td>
        <td><a href="/student">Students</a></td>
        <td><a href="/subject">Subjects</a></td>
      </tr>
    </table>

    <form action="/teacher/edit/<%= dataTeachers.id %>" method="POST">
      First name:<br>
      <input type="text" name="firstName" value="<%= dataTeachers.firstName %>">
      <br>
      Last name:<br>
      <input type="text" name="lastName" value="<%= dataTeachers.lastName %>">
      <br>
      Email:<br>
      <input type="text" name="email" value="<%= dataTeachers.email %>">
      <br>
      Subject:<br>
      <select name="SubjectId">
        <% dataSubjects.forEach((Subject) => { %>
          <option value="<%= Subject.id %>" <%= (dataTeachers.SubjectId === Subject.id) ? "selected" : "" %> > <%= Subject.subjectName %></option>
        <% })%>
      </select><br> 
      <br>
      <input type="submit" value="Submit">
    </form> 
  </body>
</html>
